{$SITE_ADDRESS::80} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy {$BACKEND_UPSTREAM:backend:3000}
  }

  handle /__mailpit/* {
    basic_auth {
      {$MAILPIT_USERNAME:local-editor} {$MAILPIT_PASSWORD_HASH}
    }
    reverse_proxy {$MAILPIT_UPSTREAM:mailpit:8025}
  }

  handle /content/* {
    uri replace /content/ /{$CONTENT_BUCKET:trico-web-local}/content/
    reverse_proxy {$OBJECT_UPSTREAM:minio:9000}
  }

  handle /media/* {
    uri replace /media/ /{$CONTENT_BUCKET:trico-web-local}/media/
    reverse_proxy {$OBJECT_UPSTREAM:minio:9000}
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
  }
}
