:8088 {
  encode zstd gzip

  @api path /api/*
  reverse_proxy @api backend:3000

  handle /__mailpit/* {
    basic_auth {
      {env.MAILPIT_USERNAME} {env.MAILPIT_PASSWORD_HASH}
    }
    reverse_proxy mailpit:8025
  }

  handle_path /__objects/* {
    reverse_proxy minio:9000 {
      header_up Host minio:9000
    }
  }

  handle /content/* {
    uri replace /content/ /trico-web-local/content/
    reverse_proxy minio:9000
  }

  handle /media/* {
    uri replace /media/ /trico-web-local/media/
    reverse_proxy minio:9000
  }

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
  }

  reverse_proxy frontend:80
}
